/*RESETS*/

html, body, header, section, article, div, ul, li, img, h1, h2, h3 {
	padding: 0;
	margin: 0 auto;
	font-family: "Helvetica", sans-serif;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: ;
}

.nav-list {
	background-color: #ff6666;
	width: 100%;
	padding: 0.1em;
	position: relative;
	left: -0.1em;
	display: none;
}

.nav-list li {
	/*display: block;*/
	float: none;
	margin-bottom: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	padding-top: 20px;

}

.menu-icon {
	padding-top:0.5em;
	margin-left:1.5em;
	cursor: pointer;
	position: relative;
}

.page {
	padding: 0.1em 1em;
	max-width: 61.75em;
}

.page>h2 {
	margin: 0.75em 0 0 0;
	font-weight: 400;
}

header>h1 {
	font-size: 3.5em;
	margin: 0.5em auto;
}

.first-entry{
	background:#E6E6E6;
}

.protocol {
	color:#ff6666;
	background-color: #333;
	text-align:center;
	padding: 1.5em 0px;
}

.second-entry {
	background-color: #b3b3b3;

}

.images {
	width: 100%;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
	vertical-align: bottom;
}

a:hover{
	opacity: 0.3;
}


@media (min-width: 960px){
	.images{
		max-width: 61.75em;
		padding: 0 1em;
		margin: 0 auto;
	}

footer{
	color: ;
	font-weight: 400;
	list-style-type: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.left-footer {
	float: left;
}

.right-footer {
	float:right;
}

/*CLEARFIX*/
.clearfix {
	overflow: auto;
}